# .github/workflows/release.yml
name: Release app
on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os:
          [
            { name: "linux", image: "ubuntu-latest" },
            { name: "windows", image: "windows-latest" },
            { name: "macos", image: "macos-latest" },
          ]
    runs-on: ${{ matrix.os.image }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v4

      - name: Use Node.js and install dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci

      - name: Build Vue front end
        run: npm run build

      - name: Build Electron app
        run: npm run make

      - name: Publish app
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run publish
